{% extends 'base.html' %}
{% block body %}

<a href="/">User Page</a>

<form method="POST" enctype="multipart/form-data">
	Title:<input type="text" name="title"><br/>
	Caption:<input type="text" name="caption"><br/>
	<input id="btn" type="file" name="file" accept="image/*">
	<label for="file-picker" class="btn"></label><br/>
	<input type="submit" value="Upload">
</form>

<br/><br/>

<form method="POST">
	<input type="submit" value="Reload">
</form>

<br/><br/>
{{ message }}
<br/><br/>

<form method="POST">
	<input type="submit" value="Delete All Images and Clear Votes" style="color: white; background: red">
	<input type="hidden" name="clear" value="yes">
</form>

<br/><br/>

<table>
	<thead><tr><th>Image</th><th>Votes</th><th>Rotate</th><th>Remove</th></tr></thead>
<tbody>
{% for image in images %}
<tr>
<td><img style="height: 150px" src="/static/images/{{ image }}{% if refresh == image%}?{{ random }}{% endif %}"></td>
<td>{{ votes[image] }}</td>
<td><form method="POST">
	<input type="submit" value="Rotate Image">
	<input type="hidden" name="img" value="{{ image }}">
	<input type="hidden" name="rotate" value="yes">
</form></td>
<td><form method="POST">
	<input type="submit" value="Remove Image" style="color: white; background: orange">
	<input type="hidden" name="img" value="{{ image }}">
	<input type="hidden" name="remove" value="yes">
</form></td>
</tr>
{% endfor %}
</tbody></table>

{{ votes }}

{% endblock %}