{% extends 'base.html' %}
{% block body %}

<form method="POST" enctype="multipart/form-data">
	<input id="btn" type="file" name="file" accept="image/*" onchange="this.form.submit()">
	<label for="file-picker" class="btn"></label>
</form>

<br/><br/>

<form>
	<input type="submit" value="Reload">
</form>

<br/><br/>
{{ message }}
<br/><br/>

<form method="POST">
	<input type="submit" value="Delete All Images and Clear Votes" style="color: white; background: red">
	<input type="hidden" name="clear" value="yes">
</form>

<br/><br/>

{% for image in images %}
<div style="border: 1px solid black">
<img style="height: 150px" src="/static/images/{{ image }}">
{{ votes[image] }}
</div>
{% endfor %}

{{ votes }}

{% endblock %}